
body {
    background: whitesmoke;
    margin: auto;
    background: #ffffff;
}

* {
    font-family: "Inter", serif;
}

h1 {
    color: #000000;
}

p, li {
    font-size: 18px;
    line-height: 1.5;
}
a {
    text-decoration: none;
}

.general-content{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.grid {
    display: grid;
    min-height: 600px;
    height: auto;
    margin-top: 3rem;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 1rem;
    width: 65%;
}

.grid > div {
    position: relative;
    padding: 1.5rem;
    margin-bottom: 1rem;
    height: auto;
}

.general-content{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.main-image-container{
    alignment: center;
    min-height: 500px;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: span 2;
    grid-column-end: span 2;
}

.main-image{
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.side-image-container{
    alignment: center;
    min-height: 250px;
}

.side-image{
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.button {
    background-color: #000000;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    height: 50px;
    left: 0;
    bottom: 0;
}

.topnav {
    overflow: hidden;
    background-color: #000000;
    vertical-align: bottom;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 27px;
    vertical-align: bottom;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #000000;
    color: white;
}