/* Tablet */
@media only screen and (min-width: 480px) and (max-width: 767px){
    /* some CSS here */
    body {
        background: #cfcfcf;

    }

    .grid {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        width: 100%;
    }

    .main-image-container{
        min-height: 400px;
        grid-column-end: 1;
        grid-row-end: 1;
    }

    p, li {
        font-size: 15px;
        line-height: 1.5;
    }

    .topnav a {
        font-size: 20px;
    }
/*

.general-content{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.grid {
    margin-top: 3rem;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 0;
}

.main-image-container{
    grid-row-end: 1;
    grid-column-end: 1;
}

 */
}